.mycontainer {
  padding: 0 2rem;
}

.mymain {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myfooter {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.myfooter a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.mytitle a {
  color: #0070f3;
  text-decoration: none;
}

.mytitle a:hover,
.mytitle a:focus,
.mytitle a:active {
  text-decoration: underline;
}

.mytitle {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.mytitle,
.mydescription {
  text-align: center;
}

.mydescription {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.mycode {
  background: #222;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.mygrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.mycard {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.mycard:hover,
.mycard:focus,
.mycard:active {
  color: #0070f3;
  border-color: #0070f3;
}

.mycard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.mycard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.mylogo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .mygrid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) { */
  .mycard,
  .myfooter {
    border-color: #222;
  }
  .mycode {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
/* } */
